﻿@using EngineConfigAnalyzer.API.DTOs;

<div class="red.@(Selected ? "on" : "off")" @onclick="@(() => OnClick.InvokeAsync(this))">
    <h2 class="title">@ConfigJobResponse.OrderId</h2>
    <br />
    <div class="row">
        @foreach (var equipJob in ConfigJobResponse.AlgorithmJobs)
        {
            <EquipJobStatus EquipJobResponse=@equipJob/>
        }
    </div>
</div>


@code {
    [Parameter]
    public AnalyzerJobResponse ConfigJobResponse { get; set; }

    [Parameter]
    public EventCallback<ConfigJobStatus> OnClick { get; set; }

    public bool Selected { get; set; }

    public string CurrentClass()
    {
        if(Selected){
            return "job:focus";
        }
        else
        {
            return "#job";
        }
    }

}

<style>
    .title {
        text-align: center;
    }
    .row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: left;
    }
    .job.off {
        background-color: #c2d6d6;
        border-radius: 15px;
    }
    .job.on{
        background-color: blue;
        border-radius: 15px;
    }
</style>
