﻿@using EngineConfigAnalyzer.API.DTOs;

<div>
    @foreach(var job in ConfigjobResponses)
    {
        <ConfigJobStatus ConfigJobResponse=@job OnClick="Select"></ConfigJobStatus>
    }
</div>



@code {
    [Parameter]
    public List<AnalyzerJobResponse> ConfigjobResponses { get; set; }

    private ConfigJobStatus selected;

    public void Select(ConfigJobStatus element)
    {   
        if(selected != null)
        {
            selected.Selected = false;
        }
        
        selected = element;
        selected.Selected = true;
    }
}
