﻿@using EngineConfigAnalyzer.API.DTOs;
@using EngineConfigAnalyzer.Domain.Entities;

<div class="inlined">
    <span class="dot" style="background-color:@StatusColor()"></span>
    <br>
    <h5> @EquipJobResponse.JobName </h5>
</div>


@code {
    [Parameter]
    public AlgorithmJobResponse EquipJobResponse { get; set; }

    public string StatusColor()
    {
        switch (EquipJobResponse.JobStatus)
        {
            case JOB_STATUS.RUNNING:
                return "green";
            case JOB_STATUS.FAILED:
                return "red";
            case JOB_STATUS.READY:
                return "yellow";
            default:
                return "grey";
        }
    }
}

<style>
    .dot {
      height: 25px;
      width: 25px;
      background-color: grey;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
    }
    .inlined {
        display: inline-block;
        text-align: center;
        width: 200px;
    }
</style>
