﻿@page "/"
@using EngineConfigAnalyzer.API.DTOs;
<PageTitle>Motor Analyse UI</PageTitle>
<ConfigJobList ConfigjobResponses=@TestConfigJobs></ConfigJobList>


@code {
    public List<AnalyzerJobResponse> TestConfigJobs { get; set; } = new List<AnalyzerJobResponse>();

    protected override async Task OnInitializedAsync()
    {
        var equipJob1 = new AlgorithmJobResponse
            {
                JobName = "Algorithmus 1",
                JobStatus = Domain.Entities.JOB_STATUS.RUNNING
            };

        var equipJob2 = new AlgorithmJobResponse
            {
                JobName = "Algorithmus 2",
                JobStatus = Domain.Entities.JOB_STATUS.FAILED   
            };

        TestConfigJobs.Add(new AnalyzerJobResponse
            {
                OrderId = "Super toller Motor XY",
                AlgorithmJobs = new List<AlgorithmJobResponse> { equipJob1, equipJob2 }
            });

        TestConfigJobs.Add(new AnalyzerJobResponse
            {
                OrderId = "Super toller Motor XY",
                AlgorithmJobs = new List<AlgorithmJobResponse> { equipJob1, equipJob2 }
            });
    }
}
